<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Editar Departamento</title>
</head>
<body>
  <h1>Editar Departamento</h1>
  <form method="POST">
    <label for="nombrePropietario">Nombre del Propietario:</label>
    <input type="text" id="nombrePropietario" name="nombrePropietario" value="{{ departamento.nombrePropietario }}" required><br><br>

    <label for="costo">Costo:</label>
    <input type="number" id="costo" name="costo" value="{{ departamento.costo }}" required><br><br>

    <label for="numero_cuartos">Número de Cuartos:</label>
    <input type="number" id="numero_cuartos" name="numero_cuartos" value="{{ departamento.numero_cuartos }}" required><br><br>

    <label for="edificio">Edificio:</label>
    <select id="edificio" name="edificio" required>
      {% for edificio in edificios %}
        <option value="{{ edificio.url }}" {% if edificio.url == departamento.edificio %} selected {% endif %}>{{ edificio.nombre }} - {{ edificio.direccion }}</option>
      {% endfor %}
    </select><br><br>

    <button type="submit">Guardar Cambios</button>
  </form>
</body>
</html>
