<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <h1>Administración</h1>

  <!-- Listar y Crear Edificios -->
  <div>
    <h2>Edificios</h2>
    <form action="/losedificios" method="GET">
      <button type="submit">Listar Edificios</button>
    </form>
    <form action="/crear_edificio" method="GET">
      <button type="submit">Crear Edificio</button>
    </form>
    <hr>
  </div>

  <!-- Listar y Crear Departamentos -->
  <div>
    <h2>Departamentos</h2>
    <form action="/losdepartamentosdos" method="GET">
      <button type="submit">Listar Departamentos</button>
    </form>
    <form action="/crear_departamento" method="GET">
      <button type="submit">Crear Departamento</button>
    </form>
    <hr>
  </div>


</body>
</html>
