{% extends "master.html" %}

{% block title %}
  Listado de Edificios | {{ block.super }}
{% endblock %}

{% block content %}
<h3>Número de Edificios {{ numero_edificios }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Edificio</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Tipo</th>
      <th>Departamentos</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in edificios %}
  <tr>
    <td> {{e.nombre}}</td>
    <td> {{e.direccion}}</td>
    <td> {{e.ciudad}}</td>
    <td> {{e.tipo}}</td>
    <td>
      <ul>
        {% for d in e.departamentos.all %}
          <li>
            <span>{{ d.nombrePropietario }} - {{ d.costo }} - {{ d.numero_cuartos }} - [<a href="{% url 'editar_departamento' d.id %}">editar</a>] </span>
            <span>[<a href="{% url 'eliminar_departamento' d.id %}">eliminar</a>] </span>
          </li>
        {% endfor %}
      </ul>
        <span><b>Total:</b> {{ e.obtener_costo_departamentos }}</span>
        <br>
        <span><b>Total de cuartos del edificio:</b> {{ e.obtener_cantidad_cuartos }}</span>
        <br>[<a href="{% url 'crear_departamento_edificio' e.id%}">+Departamento</a>]
    </td>
    <td> <a href="{% url 'obtener_edificio' e.id %}">ver</a> <br>
      <a href="{% url 'editar_edificio' e.id %}">editar</a> <br>
      <a href="{% url 'eliminar_edificio' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
